/********************
General
********************/

body {
 font-family: 'Open Sans', sans-serif;
 font-size: 1.20em;
 background-color: #59F159;
 margin: 0;
 padding: 0;
 height: inherit;
 color: #999;
}

/*links*/
a {
  text-decoration: none; 
  color: #66FF99;
}

img {
  max-width: 100%;
}

/*logo text*/
h1, h2 {
  color: #999
}


h3 {
  margin: 0 0 1em 0;
}

.content {
  background-color: #FFFFC8;
  padding-top: 8px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 100px;
  overflow: auto;
  height: auto; 
}

.col-lg-6 {
  display: block;
  width: 45%;
  text-align: inherit;
}

.right {
  float: right;
}

.left {
  float: left;
}

.center {
  margin-right: 30px;
  margin-left: 30px;
}


/********************
Heading
********************/
header {
  float: left;
  width: 100%;
  background-color: #FFECB0;
  height: 150px;
  margin: 0;
}

header h1 {
color: #999;
background-color: #FFECB0;
}

h2 {
  font-size: .9em;
  margin: 4px 0;
  font-weight: bold;
}

/********************
Navigation
********************/

nav {
  text-align: right;
  margin: 0;
  background-color: #FFECB0;
  background-image: url('')
}


nav ul {
  list-style: none;
  overflow: auto;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 10px 35px 10px;
}

nav a {
  font-weight: bold;
  }

  /*Nav links*/
nav a, nav a:visited {
  color: #000;
}

/*selected nav link*/
nav a.selected, nav a:hover {
  color: #66FF99;
}

/********************
Footer
********************/

footer{
  font-size: 0.875em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #999;
}
/********************
Page: Index
********************/

.parks ul {
    list-style: none;
  }
  
 .parks li {
    list-style: none;
    width: 45%;
  }
  

/********************
Page: Contact
********************/

.contact-info {
  list-style:none;
  padding: 0;
  margin: 0;
}

.contact-info a {
  display:block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}




