/********************
General
********************/

body {
 font-family: 'Open Sans', sans-serif;
 font-size: 1.1em;
 background-color: #59F159;
 margin: 0;
 padding: 0;
 height: inherit;
 color: #999;
 background-image: url('img/FinalProjectPhotos/BodyBackground.jpg');
 background-repeat: no-repeat;
 background-size: cover;
}

/*links*/
a {
  text-decoration: none; 
  color: #66FF99;
}

/*logo text*/
h1, h2 {
  color: #999;
  margin:0;
}

h3 {
  margin: 0 0 1em 0;
}

.content {
  background-color: #FFFFC8;
  padding-top: 16px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: auto;
  position: auto;
  margin-top: 0;
  clear: both;
}

img {
  border-radius: 40px;
  max-height: 100%;
  max-width: 100%;
}

.extra-img {
  display: none;
}

.col-lg-6 {
  list-style: none;
  margin: 10px 0px;
}

.center {
  margin-right: 30px;
  margin-left: 30px;
}

.barrier {
  clear: both;
  margin: 0.5em 0px;
  overflow: auto;
}
/********************
Heading
********************/
header {
  float: left;
  width: 100%;
  background-color: #FFECB0;
  height: 350px;
  margin: 0;
}

.logo {
  background: transparent;
  color: white;
  font-size: 30px;
  margin: 35px;
  margin-top: 90px;
  font-family: 'Hoefler Text', verdana;
  text-shadow: 2px 4px 0px rgba(0,0,0,0.5);, 
}

h2 {
  font-size: .9em;
  margin: 4px 0;
  font-weight: bold;
}

/********************
Navigation
********************/

nav {
  background-color: #FFECB0;
  height: 100%; 
  display: block;
  padding: 0;
  margin: 0;
  overflow: auto;
  width: 100%;
  text-align: justify;
  font-size: 1.15em;
}

nav ul {
  display: block;
  list-style: none;
  overflow: none;
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  text-align: center;
}

nav a {
  font-weight: bold;
  color: #999;
  }

/*selected nav link*/
nav a.selected, nav a:hover {
  color: #66FF99;
}

#nav-list {
  display: none;
  height: 100%;
}

#nav-list li {
  background-color: #FFECB0;
  padding: .8em;
  border: solid;
  border-color: #999;
  border-width: 2px;
}

.current {
  color: #000;
}

#mobile-menu{
  display: block;
  font-weight: bold;
  text-align: center;
  margin: .55em 0em;
}

/********************
Footer
********************/

footer{
  font-size: 0.875em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #999;
}

/********************
Page: Column Formatting
********************/

.col-lg-6 h3 {
  margin: 0;
  padding: 0;
}

/********************
Page: Index
********************/

.img-index{
  background-image: url('img/FinalProjectPhotos/WestportPark/WestportPark7-reduced-Copy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

  
/********************
Page: Community Center
********************/

.img-community-center{
  background-image: url('img/FinalProjectPhotos/CommunityCenter/communityCenter5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#capacity {
  height: auto;
  width: auto;
  border-radius: 0px;
  max-height: 100%;
  max-width: 100%;
}

/********************
Page: Aquatic Center
********************/
.img-aquatic-center {
  background-image: url('img/FinalProjectPhotos/AquaticCenter/aquaticCenter12.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/********************
Page: Contact
********************/

.img-contact {
  background-image: url('img/FinalProjectPhotos/MorganConservationPark/MorganConservationPark3-reduced.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

#map_wrapper {
    height: 300px;
    color: black;
}

#map_canvas {
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

#map_canvas img {
    max-width: none;
}

.googleMap {
  margin-top: 40px;
}

.gm-style-iw {
max-width: 20em;
}

form {
  margin-left: 3%;
  margin-right: 3%;
}

input{
  display: inline;
  width: 100%;
  height: 25px;
  margin: .7em 0em;
  outline-color: #66FF99;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: .7em;
  outline-color: #66FF99;
}

#submit {
  width: 4.5em;
  height: 2em;
  font-weight: bold;
  border-width: 2px;
  background-color: #FFECB0;
  border: solid;
  color: #999;
  margin-top: 1em;
  text-align: center;
  font-size: .95em;
}

#submit:hover {
  border-color: #66FF99;
  cursor: pointer;
}

/********************
Media Queries
********************/

@media (max-width: 432px) {
  
  header {
    height: 300px;
  }

  .logo {
    font-size: 20px;
  }

  .youtube {
    height: 275px;
  }

  #map_wrapper {
    display: none;
}

}

@media (min-width: 768px) {

  header {
    height: 370px;
  }

  .logo {
    font-size: 40px;
  }

  .col-lg-6 {
    display: block;
    width: 45%;
    text-align: inherit;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .col-lg-3 {
    display: block;
    width: 38%;
    text-align: inherit;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .col-lg-9 {
    display: block;
    width: 60%;
    text-align: inherit;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .right {
  float: right;
  }

  .left {
    float: left;
  }

  .col-center {
    margin-top: 6.7%;
  }

  nav {
    height: 2.5em;
  }

  #nav-list {
  display: block;
  }

  #nav-list li {
  display: inline-block;
  padding: .6em .8em;
  border: none;
  }

  #mobile-menu{
    display: none;
  }

  /********************
  Contact
  ********************/

  form div {
    display: block;
    clear: both;
  }

  label{
    margin-right: 2%;
    margin-top: 12px;
    float: left;
    display: block;
    width: 20%;
  }

  input{
    width: 70%;
  }

  textarea {
    width: 70%;
  }

  #map_wrapper {
    height: 380px;
    color: black;
}

}

@media (min-width: 900px) {

  body {
    margin: 80px 60px;
  }

  .content {
    border-bottom-right-radius: 130px;
    border-bottom-left-radius: 130px;
  }

  header {
    height: 420px;
    border-top-right-radius: 130px;
    border-top-left-radius: 130px;
  }

  .youtube{
    height: 420px;
  }

}

@media (min-width: 1026px) {

  body {
    font-size: 1.2em;
    margin: 2.5% 10%;
  }

  header{
    height: 480px;
  }
  
}

@media (min-width: 1220px) {

  body {
    margin: 2.5% 10%;
    font-size: 1.3em;
  }

  header {
    height: 500px;
  }

  .youtube {
    height: 480px;
  }

@media (min-width: 1400px){

  body {
    font-size: 1.5em;
  }

}

@media (min-width: 1600px){

  .content {
    padding: 50px 120px;
  }

  .barrier {
    margin: 2em 0em;
  }
}

@media (min-width: 1800px){

  header {
    height: 24em;
  }

  body {
    font-size: 1.7em;
  }

   .youtube {
    height: 600px;
  }

  /********************
  Contact
  ********************/

   #map_wrapper {
    height: 500px;
  }

}

@media (min-width: 2100px){

  body {
    font-size: 1.9em;
  }
}

@media (min-width: 2300px){

  body {
    font-size: 2.1em;
  }
}

@media (min-width: 2500px){

  body {
    font-size: 2.3em;
  }
}

@media (min-width: 2700px){

  body {
    font-size: 2.5em;
  }

  /********************
  Contact
  ********************/

   #map_wrapper {
    height: 700px;
  }

}

@media (min-width: 2900px){

  body {
    font-size: 2.7em;
  }
}

}




