/********************
General
********************/

body {
 font-family: 'Open Sans', sans-serif;
 font-size: 1.20em;
 background-color: #59F159;
 margin: 0;
 padding: 0;
 height: inherit;
 color: #999;
 background-image: url('img/FinalProjectPhotos/BodyBackground.jpg');
 background-repeat: no-repeat;
 background-size: cover;
}

/*links*/
a {
  text-decoration: none; 
  color: #66FF99;
}

img {
  max-width: 100%;
}

/*logo text*/
h1, h2 {
  color: #999;
  margin:0;
}


h3 {
  margin: 0 0 1em 0;
}

.content {
  background-color: #FFFFC8;
  padding-top: 16px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: auto;
  position: auto;
  margin-top: 0;
  clear: both;
}

.col-lg-6 {
  list-style: none;
  margin: 10px 0px;
}

.col-lg-6 img {
  max-height: 100%
}


.center {
  margin-right: 30px;
  margin-left: 30px;
}

.barrier {
  clear: both;
}
/********************
Heading
********************/
header {
  float: left;
  width: 100%;
  background-color: #FFECB0;
  height: 350px;
  margin: 0;
}

.logo {
  background: transparent;
  color: white;
  font-size: 30px;
  margin: 35px;
  margin-top: 90px;
  font-family: 'Hoefler Text', verdana;
  text-shadow: 2px 4px 0px rgba(0,0,0,0.5);, 
}

h2 {
  font-size: .9em;
  margin: 4px 0;
  font-weight: bold;
}

/********************
Navigation
********************/

nav {
  background-color: #FFECB0;
  height: 42px;
  display: inline-block;
  padding: 0;
  margin: 0;
  overflow: none;
  width: 100%;
  float: left;
  text-align: center;
}

nav ul {
  list-style: none;
  overflow: auto;
  margin: 0;
  
}

nav ul li {
  display: inline;
  padding: 15px 15px;
  position: inherit;
  margin: 0;
}

nav a {
  font-weight: bold;
  color: #000;
  display: inline-block;
  }


/*selected nav link*/
nav a.selected, nav a:hover {
  color: #66FF99;
}

/********************
Footer
********************/

footer{
  font-size: 0.875em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #999;
}

/********************
Page: Column Formatting
********************/

.col-lg-6 h3 {
  margin: 0;
  padding: 0;
}

/********************
Page: Index
********************/

.img-index{
  background-image: url('img/FinalProjectPhotos/WestportPark7-reduced - Copy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

  
/********************
Page: Community Center
********************/

.img-community-center{
  background-image: url('img/FinalProjectPhotos/CommunityCenter/CommunityCenter1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#capacity {
  width: 450px;
  height: 350px;
  margin-bottom: 20px;
  text-align: left;
  clear: both;
}

/********************
Page: Aquatic Center
********************/
.img-aquatic-center {
  background-image: url('img/FinalProjectPhotos/AquaticCenter/aquaticCenter12.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/********************
Page: Contact
********************/

.img-contact {
  background-image: url('img/FinalProjectPhotos/MorganConservationPark3-reduced.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

#map_wrapper {
    height: 300px;
    color: black;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

#map_canvas img {
    max-width: none;
}

.googleMap {
  margin-top: 40px;
}

/********************
Media Queries
********************/

@media (max-width: 432px) {
  
  header {
    height: 300px;
  }

  .logo {
    font-size: 20px;
  }

}

@media (min-width: 768px) {
  
  body{
    margin: 30px 60px;
  }

  header {
    height: 370px;
  }

  .logo {
    font-size: 40px;
  }

  nav {
    text-align: center;
  }

  nav li {
    padding: auto;
  }

  .col-lg-6 {
    display: block;
    width: 45%;
    text-align: inherit;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 100%;
  }

  .right {
  float: right;
  }

  .left {
    float: left;
  }

}

@media (min-width: 900px) {

  header {
    height: 420px;
  }

}

@media (min-width: 1026px) {

  nav ul li {
    display: inline-block;
    padding: 10px 35px ;
    margin: 0;
  }

  header{
    height: 480px;
  }
  
}

@media (min-width: 1220px) {

  body {
    margin: 2.5% 10%;
  }

  header {
    height: 500px;
  }

}




